{% extends 'base.html' %}

{% block title %}Edit Request{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card shadow" style="max-width: 500px; width: 100%;">
            <div class="card-header bg-primary text-white text-center">
                <h4>Edit Request <i class="fas fa-edit me-2"></i></h4>
            </div>
            <div class="card-body">
                <h5>Edit Details for Request #{{ inventory_request.id }}</h5>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="d-flex justify-content-around mt-4">
                        <button class="btn btn-success" type="submit"><i class="fas fa-save me-2"></i>Save Changes
                        </button>
                        <a class="btn btn-secondary" href="{% url 'dashboard' %}"><i class="fas fa-times me-2"></i>Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}